@font-face {
  font-family: "Alfa-Slab-One";
  src: url("../fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bowlby-One-SC";
  src: url("../fonts/Bowlby_One_SC/BowlbyOneSC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Zain";
  src: url("../fonts/Zain/Zain-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit/Kanit-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  scroll-behavior: smooth;
  font-size: 2dvh;
  font-family: Zain;
}

body {
  margin: 0;
  background: black;
  color: white;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  color: white;
  font-family: Kanit;
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

span {
  color: #8921ff;
  font-weight: bold;
}

img {
  height: 10dvh;
  -o-object-fit: contain;
     object-fit: contain;
}

video {
  display: block;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.margin-0 {
  margin: 0;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.huge-text {
  font-size: 5rem;
}

.big-text {
  font-size: 2rem;
}

.mid-text {
  font-size: 1rem;
}

.small-text {
  font-size: 0.75rem;
}

.tiny-text {
  font-size: 0.5rem;
}

.huge-line {
  line-height: 5rem;
}

.big-line {
  line-height: 2rem;
}

.mid-line {
  line-height: 1rem;
}

.small-line {
  line-height: 0.75rem;
}

.tiny-line {
  line-height: 0.5rem;
}

.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.underline-text {
  text-decoration: underline;
}

.sticky-section, .hero {
  position: sticky;
  top: 0;
  height: 100dvh;
  width: 100%;
  z-index: -10;
  overflow-x: hidden;
}
.sticky-section.scroll-effect-on > .content, .scroll-effect-on.hero > .content {
  opacity: 0;
}
.sticky-section > .content, .hero > .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 1s ease;
}

.black-bg-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 1;
}

.black-bg-translucid-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.75;
}

.summary-section {
  position: relative;
  height: 110dvh;
  width: 100%;
  overflow: hidden;
}
@media (max-aspect-ratio: 16/9) {
  .summary-section {
    height: auto;
  }
}
.summary-section .title {
  font-size: 1rem;
  line-height: 1rem;
  margin: 3dvh 0;
  color: grey;
  font-family: Zain;
}
.summary-section .subtitle {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Zain;
}
.summary-section > .content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 70%;
  height: 100%;
  gap: 50px;
}
@media (max-aspect-ratio: 16/9) {
  .summary-section > .content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
  }
}
.summary-section .short-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 10dvh 2dvh;
  flex-basis: 10%;
  gap: 25px;
  border-right: rgb(210, 210, 210) 2px dashed;
}
@media (max-aspect-ratio: 16/9) {
  .summary-section .short-section {
    flex-basis: 100%;
    width: 100%;
    height: auto;
    border: none;
  }
}
.summary-section .short-section a {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.summary-section .short-section a img {
  height: 8dvh;
  -o-object-fit: contain;
     object-fit: contain;
}
.summary-section .short-section a .title {
  margin: 0;
}
.summary-section .short-section a .subtitle {
  margin: 0;
}
.summary-section .long-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 10dvh 5dvw;
  flex-basis: 50%;
}
@media (max-aspect-ratio: 16/9) {
  .summary-section .long-section {
    flex-basis: 100%;
    padding: 5dvw 5dvw;
  }
}
.summary-section .img-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  overflow: hidden;
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
}
.summary-section .img-section img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-aspect-ratio: 16/9) {
  .summary-section .img-section img {
    min-width: 100%;
    min-height: 100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .summary-section .img-section {
    position: relative;
    width: auto;
    height: 50dvh;
    clip-path: none;
    margin: 5dvw;
    clip-path: circle(50% at center);
  }
}

.information-section {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  min-height: 70dvh;
  padding: 10vh 0;
}
.information-section > .content {
  margin-left: 20dvw;
  margin-right: 20dvw;
}
@media (max-aspect-ratio: 16/9) {
  .information-section > .content {
    margin-left: 5dvw;
    margin-right: 5dvw;
  }
}

.cards-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.cards-section .card {
  border-radius: 0.5vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  flex-basis: 28%;
  border-style: solid;
  border-width: 2px;
  overflow: hidden;
  height: 70dvh;
  transition: border-color 0.25s ease;
}
.cards-section .card .content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 10px;
}
.cards-section .card .content .description {
  width: 100%;
}
.cards-section .card .content .date {
  width: 100%;
  border-top: rgb(210, 210, 210) 2px dashed;
}
.cards-section .card .content .attributes-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  gap: 5px;
}
.cards-section .card .content .attributes-container .attribute-card {
  border-radius: 0.5vh;
  padding: 5px;
  color: white;
}
.cards-section .card .img-section {
  position: absolute;
  bottom: 0;
  height: 45%;
  width: 100%;
  background-color: black;
}
.cards-section .card .img-section img {
  min-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards-section .card .img-section .read-more {
  border-radius: 0.5vh;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: black;
  padding: 5px;
  color: white;
}
.cards-section .card:hover {
  border-color: #8921ff;
}
.cards-section .card:hover .read-more {
  background-color: #8921ff;
  transition: background-color 0.25s ease;
}
@media (max-aspect-ratio: 16/9) {
  .cards-section .card {
    flex-basis: 100%;
  }
}

.button {
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid;
  border-color: black;
  min-width: 200px;
  min-height: 50px;
  overflow: hidden;
  transition: border-color 0.25s ease;
}
.button .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: white;
  transition: background-color 0.25s ease;
}
.button .content p {
  color: black;
  transition: color 0.25s ease;
}
.button:hover {
  border-color: #8921ff;
}
.button:hover .content {
  background-color: black;
}
.button:hover .content p {
  color: white;
}

@media (max-aspect-ratio: 16/9) {
  .desktop {
    display: none;
  }
}

@media (min-aspect-ratio: 16/9) {
  .mobile {
    display: none;
  }
}

.home-header {
  text-shadow: black 2px 2px;
  position: fixed;
  width: 100dvw;
  height: 10dvh;
  z-index: 10;
  overflow: hidden;
  border-bottom: rgba(0, 0, 0, 0) solid 2px;
  transition: background-color 1s ease, border-bottom 1s ease;
}
.home-header.scroll-effect-on {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: #8921ff solid 2px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.home-header .content {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  height: 100%;
  width: 90dvw;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-aspect-ratio: 16/9) {
  .home-header .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.home-header .navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  padding: 10px;
}
.home-header .navigation a {
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0.8;
  transition: opacity 0.25s ease;
}
.home-header .navigation a:hover {
  opacity: 1;
}
.home-header .navigation a img {
  height: 8dvh;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-header .navigation .link {
  border-left: 1px white solid;
}

.hero .title {
  margin: 0;
  font-size: 5rem;
  line-height: 5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
@media (max-aspect-ratio: 16/9) {
  .hero .title {
    font-size: 2rem;
    line-height: 2rem;
  }
}
.hero .subtitle {
  margin: 0;
  font-size: 2rem;
  line-height: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
@media (max-aspect-ratio: 16/9) {
  .hero .subtitle {
    font-size: 1rem;
    line-height: 1rem;
  }
}

.theme-transparent {
  background: transparent;
  color: white;
  font-family: Zain;
  border-color: #8921ff;
}
.theme-transparent body {
  background: transparent;
  color: white;
  font-family: Zain;
}
.theme-transparent h1, .theme-transparent h2, .theme-transparent h3, .theme-transparent h4, .theme-transparent h5 {
  color: white;
  font-family: Kanit;
}
.theme-transparent p {
  color: white;
  font-family: Zain;
}
.theme-transparent a {
  color: white;
  font-family: Zain;
}
.theme-transparent span {
  color: #8921ff;
}

.theme-black-over-white-serious {
  background: white;
  color: black;
  font-family: Zain;
  border-color: black;
}
.theme-black-over-white-serious body {
  background: white;
  color: black;
  font-family: Zain;
}
.theme-black-over-white-serious h1, .theme-black-over-white-serious h2, .theme-black-over-white-serious h3, .theme-black-over-white-serious h4, .theme-black-over-white-serious h5 {
  color: black;
  font-family: Kanit;
}
.theme-black-over-white-serious p {
  color: black;
  font-family: Zain;
}
.theme-black-over-white-serious a {
  color: black;
  font-family: Zain;
}
.theme-black-over-white-serious span {
  color: black;
}

.theme-white-card {
  background: white;
  color: black;
  font-family: Zain;
  border-color: white;
}
.theme-white-card body {
  background: white;
  color: black;
  font-family: Zain;
}
.theme-white-card h1, .theme-white-card h2, .theme-white-card h3, .theme-white-card h4, .theme-white-card h5 {
  color: grey;
  font-family: Kanit;
}
.theme-white-card p {
  color: black;
  font-family: Zain;
}
.theme-white-card a {
  color: black;
  font-family: Zain;
}
.theme-white-card span {
  color: #8921ff;
}/*# sourceMappingURL=style.css.map */