:root {
    --brandColor: #8921ff;
    --brandSecondaryColor: #b26eff;
    --brandComplementaryColor: #BBFF6E;
    --darkPanelColor: #262626;
    --lightPanelColor: #EBEBEB;
    --darkTextColor: #121212;
    --lightTextColor: #F5F5F5;
}
