@import url('colors.css');

/*HEADER*/
header{
    position: fixed;
    z-index: 10;
    width: 100dvw;
    height: 10dvh;
    overflow: hidden;
    border-bottom: transparent solid 2px;
    transition: background-color 1s ease, border-botom 1s ease;
    text-shadow: black 2px 2px;
}

header.scroll-effect-on{
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: var(--brandColor) solid 2px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

header section{
    height: 100%;
    width: 90dvw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
}

header nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    padding: 10px;
    align-items: center;
    align-self: center;
    justify-content: center;
}

header nav a{
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px white solid;
    opacity: 0.8 !important;
    transition: opacity 0.25s ease;
}

header nav a:hover{
    opacity: 1 !important;
}

header nav a img{
    width: 8dvh;
}

.header-logo{
    border-left: none;
}

/*HERO*/
#hero{
    position: sticky;
    top: 0;
    height: 100dvh;
    z-index: -10;
}

#hero.scroll-effect-on #hero-content{
    opacity: 0;
}

#hero .clean-fullscreen-iframe-video{
    position: absolute;
    inset: 0;
    z-index: 0;
}

#hero-background-panel{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.75;
    z-index: 1;
}

#hero-content{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: opacity 1s ease;
}

#hero-title{
    display: inline-block;
    font-size: 5rem;
    line-height: 5rem;
    margin: 2dvh;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--lightTextColor);
}

#hero-subtitle{
    display: inline-block;
    font-size: 2rem;
    line-height: 2rem;
    margin: 2dvh;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--lightTextColor);
}

#hero-subtitle span{
    color: var(--brandColor);
}

/*PRESENTATION*/

#presentation{
    position: relative;
    height: 110dvh;
    width: 100%;
    color: black;
}

#presentation h1{
    color: grey;
    margin: 0;
    line-height: 1rem;
    font-size: 1rem;
}

#presentation-content{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 1;
    gap: 50px;
    clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
}

#presentation-resume{
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
    border-right: 2px dashed lightgray;
    gap: 30px;
    padding: 2%;
    height: 70%;
}

#presentation-resume-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#presentation-resume-container .item{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    flex-basis: 20%;
    font-weight: bolder;
    line-height: 1rem;
}

#presentation-resume-container .item *{
    max-height: 80px;
    margin: 2px;
}

#presentation-resume-container .item .number{
    font-size: 2rem;
    line-height: 2rem;
}

#presentation-text-container{
    padding-left: 2dvh;
    padding-right: 2dvh;
    padding-top: 10dvh;
    padding-bottom: 10dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
}

#presentation-text-container img{
    height: 100px;
    width: 100%;
    object-fit: contain;
}

#presentation-name{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Kanit';
}

#presentation-text-container span{
    font-weight: bolder;
}

#presentation-img-container{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

#presentation-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*HIGHLIGHTS*/

#highlights{
    display: flex;
    flex-direction: column;
    padding-top: 20dvh;
    padding-bottom: 20dvh;
    gap: 3vh;
}

/*SKILLS*/

#skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#technical-skills{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10vh;
    padding-right: 10vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-basis: 40%;
    flex-grow: 1;
}

#soft-skills{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10vh;
    padding-right: 10vh;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-basis: 40%;
    flex-grow: 1;
}

.skill-card{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 20px;
    padding: 10px;
    overflow: hidden;
    height: 5vh;
    width: 100%;
    align-self: center;
    align-items: center;
    color: grey;
    text-align: left;
}

#soft-skills .skill-card{
    justify-content: center;
}

.skill-card h2{
    width: 20%;
}

.skill-card img{
    height: 100%;
    width: 30%;
    object-fit: contain;
}

.skill-card p{
    line-height: 1rem;
    width: 80%;
    margin: 0;
    text-align: left;
}

.bar-container{
    width: 80%;
    flex-grow: 1;
    height: 1vh;
    border-radius: 100px;
    background-color: black;
    overflow: hidden;
}

.bar{
    height: 100%;
    background-color: var(--brandColor);
    border-radius: 100px;

    transition: width 0.5s ease;
}

/*EXPERIENCE*/
#experience{
    display: flex;
    flex-direction: column;
    padding-top: 20dvh;
    padding-bottom: 20dvh;
    gap: 3vh;
}

#experience-container h1{
    padding-top: 10vh;
    border-bottom: grey 2px dashed;
}

/*ATRIBUTOS*/
.attributes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    justify-content: center;
}

.attribute-card {
    background-color: #222;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.9rem;
    display: inline-block;
}

/*GAME CARDS*/
.product-cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.product-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 28%;

    padding: 2px;

    background-color: var(--lightPanelColor);
    border-radius: 0.5vh;

    transition: background-color 0.25s ease;
}

.product-card-long{
    height: 75dvh;
}

.product-card-mid{
    height: 50dvh;
}

.product-card-short{
    height: 30vh;
}

.product-card:hover{
    background-color: var(--brandColor);
}

.product-card .content{
    position: relative;
    
    flex-grow: 1;

    background-color: var(--lightPanelColor);
    border-radius: 0.5vh;

    overflow: hidden;
}

.product-card .text-container{
    padding: 20px;
}

.product-card .img-container{
    width: 100%;
    height: 60%;
    overflow: hidden;
    background-color: black;
}

.product-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.product-card .read-more{
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #222;
    color: #fff;
    padding: 4px 8px;
    border-radius: 0.5vh;
    font-size: 0.9rem;
    display: inline-block;

    transition: background-color 0.25s ease;
}

.product-card:hover .read-more{
    background-color: var(--brandColor);
}

.product-card h2{
    font-size: 2rem;
    min-height: 4.3rem;
    margin: 0;
    text-align: center;
    font-family: 'Kanit';
}

/*BOTONES*/

.button{
    width: 250px;
    height: 2.5rem;
    border-radius: 100px;
    padding: 2px;
    background-color: black;
    transition: background-color 0.25s ease;
}

.button:hover{
    background-color: var(--brandColor);
}

.button .content{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    background-color: var(--lightPanelColor);
    justify-content: center;
    align-items: center;
    gap: 2px;

    transition: background-color 0.25s ease, color 0.25s ease;
}

.button:hover .content{
    background-color: var(--darkPanelColor);
    color: white;
}

.divider{
    width: 90%;
    height: 1px;
    border-bottom: grey 1px dashed;
    margin-left: auto;
    margin-right: auto;
}

/*LINEA DEL TIEMPO VERTICAL*/

.timeline{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.timeline-event, .timeline-event-reversed{
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: black 2px 2px;
}

.timeline-event{
    flex-direction: row;
}

.timeline-event-reversed{
    flex-direction: row-reverse;
}

.timeline-event h2, .timeline-event-reversed h2{
    text-transform: none;
    color: white;
    font-size: 1.4rem;
    margin: 0;
}

.timeline-event .fake-header, .timeline-event-reversed .fake-header{
    color: white;
    font-size: 1.1rem;
}

.timeline-event p, .timeline-event-reversed p{
    margin: 0;
}

.timeline-event-left, .timeline-event-right{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 0;
}

.timeline-event-left{
    text-align: right;
}

.timeline-event-right{
    text-align: left;
}

.timeline-point{
    position: relative;
    background-color: white;
    flex-grow: 1;
    max-width: 5px;
    z-index: 1;
    border-radius: 2px;
    margin-bottom: -2px;
}

.timeline-point::before{
    content: "";
    position: absolute;
    background-color: white;
    width: 20px;
    height: 20px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 50%;
}

#demoreel{
    height: 60dvh;
    width: 100%;
    padding-top: 20vh;
    padding-bottom: 20vh;
    background-color: black;
}

#demoreel-container{
    position: relative;
    margin: auto;
    height: 90%;
    width: 45%;
    background-color: gray;
    border-radius: 10px;
    overflow: hidden;
}

#products-and-services{
    background-color: white;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

/* BLOG Y ARTICULOS */
#blog{
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.blog-article{
    flex-basis: 45%;
    min-height: 10dvh;
    background-color: var(--lightPanelColor);
    border-radius: 10px;

    transition: background-color 0.25s ease;
}

.blog-article:hover{
    background-color: var(--brandColor);
}

.blog-article .content{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin: 2px;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: var(--lightPanelColor);
    border-radius: 10px;
    height: 95%;
}

.blog-article .text-container{
    width: 100%;
    height: 100%;
    margin-left: 35%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    align-items: center;
    align-self: center;
    color: grey;
}

.blog-article .img-container{
    width: 30%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    border-radius: 10px;
}

.blog-article .img-container img{
    position: absolute;
    left: -5%;
    top: -5%;
    height: 110%;
    width: 110%;
    object-fit: cover;
}

footer{
    background-color: black;
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    color: white;
}

footer section{
    flex-basis: 30%;
}

footer a{
    opacity: 0.8 !important;
    transition: opacity 0.25s ease;
}

footer a:hover{
    opacity: 1 !important;
}

#contact form{
    margin-left: 10%;
    margin-right: 10%;
}

#contact form label{
    font-size: 0.7rem;
    text-align: left;
    text-transform: uppercase;
    color: grey;
}

#contact form input, #contact form textarea{
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
    border: lightgray 2px solid;
    margin-bottom: 10px;
    color: black;
    transition: background-color, 0.25s ease, border 0.25s ease, color 0.25s ease;
    font-size: 1rem;
}

#contact form input::placeholder, #contact form textarea::placeholder{
    color: grey;
}

#contact form button{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: white 2px solid;
    font-size: 1rem;
    transition: background-color, 0.25s ease, border 0.25s ease, color 0.25s ease;
}

#contact form button:hover, #contact form input:hover, #contact form textarea:hover{
    background-color: black;
    border: var(--brandColor) 2px solid;
    color: white;
}

#socials{
    display: flex;
    flex-direction: column;
}

#socials div{
    display: flex;
    flex-direction: row;
    column-gap: 0px;
    row-gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

#socials a{
    height: 5vh;
    flex-basis: 20%;
}

#footer-info{
    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px){

    header section{
        justify-content: center;
    }

    header.scroll-effect-on{
        border-bottom: var(--brandColor) solid 5px;
    }

    #hero{
        overflow: hidden;
    }

    #hero .clean-fullscreen-iframe-video{
        position: absolute;
        top: 0;
        left: -200%;
        width: 500%;
    }

    #hero-title{
        font-size: 5vh;
        line-height: 5vh;
    }

    #hero-subtitle{
        font-size: 3vh;
        line-height: 3vh;
    }

    #presentation{
        height: 150dvh;
        padding-bottom: 10dvh;
    }

    #presentation-content{
        width: 100%;
        height: 80%;
        flex-direction: column;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }

    #presentation-resume{
        width: 100%;
        padding: 0;
    }

    #presentation-resume-container{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1dvh;
    }

    #presentation-img-container{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
    }

    .product-card{
        flex-basis: 100%;
    }

    #skills{
        flex-direction: column;
    }

    #technical-skills{
        padding-left: 10vw;
        padding-right: 10vw;
    }

    #soft-skills{
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .skill-card{
        font-size: 0;
    }

    .skill-card h2{
        width: 25%;
    }

    #soft-skills .skill-card h2{
        width: 100%;
    }

    .timeline{
        gap: 5vh;
    }

    .timeline-event,
    .timeline-event-reversed {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;
    }

    .timeline-event .timeline-event-left {
        order: 2;
        flex-basis: 90%;
        text-align: left;
    }

    .timeline-event .timeline-event-right {
        order: 3;
        flex-basis: 90%;
        text-align: left;
    }

    .timeline-event-reversed .timeline-event-left{
        order: 3;
        flex-basis: 90%;
        text-align: left;
    }

    .timeline-event-reversed .timeline-event-right{
        order: 2;
        flex-basis: 90%;
        text-align: left;
    }

    .timeline-point {
        order: 1;
        margin-bottom: -15vh;
    }

    #demoreel{
        height: 40dvh;
        width: 100%;
        padding-top: 5vh;
        padding-bottom: 2vh;
    }

    #demoreel-container{
        height: 60%;
        width: 92%;
    }

    .blog-article{
        flex-basis: 100%;
    }

    footer{
        flex-wrap: wrap;
        gap: 50px;
    }

    footer section{
        flex-basis: 100%;
    }
}