@import url('colors.css');

/*HERO*/
#hero{
    position: sticky;
    top: 0;
    height: 100dvh;
    z-index: -10;
}

#hero .clean-iframe-video{
    position: absolute;
    inset: 0;
    z-index: 0;
}

#hero-background-panel{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.75;
    z-index: 1;
}

#hero-content{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero-title{
    display: inline-block;
    font-size: 5rem;
    line-height: 5rem;
    margin: 2dvh;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--lightTextColor);
}

#hero-subtitle{
    display: inline-block;
    font-size: 2rem;
    line-height: 2rem;
    margin: 2dvh;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--lightTextColor);
}

#hero-subtitle span{
    color: var(--brandColor);
}

/*PRESENTATION*/

#presentation{
    position: relative;
    height: 110dvh;
    width: 100%;
    color: black;
}

#presentation h1{
    color: grey;
    margin: 0;
    line-height: 1rem;
    font-size: 1rem;
}

#presentation-content{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 1;
    gap: 50px;
    clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
}

#presentation-resume{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex-basis: 10%;
    border-right: 2px dashed lightgray;
    padding: 2%;
    height: 70%;
}

#presentation-resume .item{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    flex-basis: 20%;
    font-weight: bolder;
    line-height: 1rem;
}

#presentation-resume .item *{
    max-height: 80px;
    margin: 2px;
}

#presentation-resume .item .number{
    font-size: 2rem;
    line-height: 2rem;
}

#presentation-text-container{
    padding-top: 10dvh;
    padding-bottom: 10dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
}

#presentation-text-container img{
    height: 100px;
    width: 100%;
    object-fit: contain;
}

#presentation-name{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
}

#presentation-text-container span{
    font-weight: bolder;
}

#presentation-img-container{
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

#presentation-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*HIGHLIGHTS*/

#highlights{
    padding-top: 20dvh;
    padding-bottom: 20dvh;
}

/*ATRIBUTOS*/
.attributes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    justify-content: center;
}

.attribute-card {
    background-color: #222;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.9rem;
    display: inline-block;
}

/*GAME CARDS*/
.game-cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.game-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 28%;
    height: 75dvh;

    padding: 2px;

    background-color: var(--lightPanelColor);
    border-radius: 4px;

    transition: background-color 0.25s ease;
}

.game-card:hover{
    background-color: var(--brandColor);
}

.game-card .content{
    position: relative;
    
    flex-grow: 1;
    padding: 0px;

    background-color: var(--lightPanelColor);
    border-radius: 4px;

    overflow: hidden;
}

.game-card .text-container{
    padding: 20px;
}

.game-card .img-container{
    width: 100%;
    height: 60%;
    overflow: hidden;
    background-color: black;
}

.game-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.game-card .read-more{
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #222;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.9rem;
    display: inline-block;

    transition: background-color 0.25s ease;
}

.game-card:hover .read-more{
    background-color: var(--brandColor);
}

.game-card h2{
    font-size: 2rem;
    min-height: 4.3rem;
    margin: 0;
    text-align: center;
}

/*BOTONES*/

.button{
    width: 250px;
    height: 2.5rem;
    border-radius: 100px;
    padding: 2px;
    background-color: black;
    transition: background-color 0.25s ease;
}

.button:hover{
    background-color: var(--brandColor);
}

.button .content{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    background-color: var(--lightPanelColor);
    justify-content: center;
    align-items: center;
    gap: 2px;

    transition: background-color 0.25s ease, color 0.25s ease;
}

.button:hover .content{
    background-color: var(--darkPanelColor);
    color: white;
}

@media (max-width: 1000px){

    #hero{
        overflow: hidden;
    }

    #hero .clean-iframe-video{
        position: absolute;
        top: 0;
        left: -200%;
        width: 500%;
    }

    #hero-title{
        font-size: 5vh;
        line-height: 5vh;
    }

    #hero-subtitle{
        font-size: 3vh;
        line-height: 3vh;
    }

    .game-card{
        flex-basis: 100%;
    }
}