.clean-iframe-video{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.clean-fullscreen-iframe-video{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0%;
    z-index: -1;
    background-color: black;
}

.clean-iframe-video iframe,
.clean-fullscreen-iframe-video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    pointer-events: none;
}

.video-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0%;
    z-index: -1;
}

    .video-bg iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }