.clean-video{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.clean-fullscreen-video{
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    margin: 0;
    padding: 0%;
    background-color: black;
}

.clean-video iframe,
.clean-video video,
.clean-fullscreen-video iframe,
.clean-fullscreen-video video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.clean-video iframe,
.clean-video video{
    height: 100%;
}

.clean-fullscreen-video iframe,
.clean-fullscreen-video video{
    pointer-events: none;
    height: 120%;
}

.mobile-only{}

.desktop-only{}

@media (min-width: 1001px)
{
    .mobile-only{
        display: none;
        opacity: none;
        pointer-events: none;
    }

    .desktop-only{
        display: inherit;
        opacity: inherit;
        pointer-events: inherit;
    }
}

@media (max-width: 1000px)
{
    .mobile-only{
        display: inherit;
        opacity: inherit;
        pointer-events: inherit;
    }

    .desktop-only{
        display: none;
        opacity: none;
        pointer-events: none;
    }
}