.clean-iframe-video{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.clean-fullscreen-iframe-video{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0%;
    background-color: black;
}

.clean-iframe-video iframe,
.clean-fullscreen-iframe-video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.clean-iframe-video iframe{
    height: 100%;
}

.clean-fullscreen-iframe-video iframe{
    pointer-events: none;
    height: 120%;
}

.mobile-only{}

.desktop-only{}

@media (min-width: 1001px)
{
    .mobile-only{
        display: none;
        opacity: none;
        pointer-events: none;
    }

    .desktop-only{
        display: inherit;
        opacity: inherit;
        pointer-events: inherit;
    }
}

@media (max-width: 1000px)
{
    .mobile-only{
        display: inherit;
        opacity: inherit;
        pointer-events: inherit;
    }

    .desktop-only{
        display: none;
        opacity: none;
        pointer-events: none;
    }
}