@import url('styles/variables.css');
@import url('styles/themes.css');
@import url('styles/effects.css');
@import url('styles/layout.css');

@font-face{
    font-family: 'Alfa-Slab-One';
    src: url('fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bowlby-One-SC';
    src: url('fonts/Bowlby_One_SC/BowlbyOneSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Zain';
    src: url('fonts/Zain/Zain-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('fonts/Kanit/Kanit-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background: var(--bg);
    color: var(--text-color);
    font-family: var(--text-font);
}

h1, h2, h3, h4, h5{
    color: var(--title-color);
    font-family: var(--title-font);
}

h1{
    font-size: 2rem;
    line-height: 2rem;
}

h2{
    font-size: 1.5rem;
    line-height: 1.5rem;
    
}

h3{
    font-size: 1.2rem;
    line-height: 1.2rem;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

p{
    color: var(--text-color);
}

span{
    color: var(--span-color);
}