//Colores de Marca
$brand-color: #8921ff;
$brand-secondary-color: #b26eff;

//Colores genericos.
$light-grey: rgb(210, 210, 210);
$dark-grey: rgb(40, 40, 40);
$semi-transparent-color: rgba(0, 0, 0, 0.5);
$transparent-color: rgba(0, 0, 0, 0);