@import url('styles/colors.css');
@import url('styles/margins.css');
@import url('styles/defined.css');
@import url('styles/texts.css');

:root{
    font-size: 2vh;
}

body{
    margin: 0;
    background-color: white;
    color: var(--darkTextColor);
    text-align: center;
}

h1{
    text-transform: uppercase;
    font-size: 1rem;
}

h2{
    font-size: 1rem;
}

a{
    text-decoration: none;
    color: inherit;
}