@import url('styles/colors.css');
@import url('styles/margins.css');
@import url('styles/defined.css');
@import url('styles/texts.css');
@import url('styles/specials.css');

@font-face{
    font-family: 'Alfa-Slab-One';
    src: url('fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bowlby-One-SC';
    src: url('fonts/Bowlby_One_SC/BowlbyOneSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Zain';
    src: url('fonts/Zain/Zain-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('fonts/Kanit/Kanit-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    font-size: 2vh;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: black;
    color: var(--darkTextColor);
    text-align: center;
    font-family: 'Zain';
}

h1{
    color: grey;
    text-transform: uppercase;
    font-size: 1rem;
}

h2{
    color: grey;
    text-transform: uppercase;
    font-size: 0.8rem;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
}

form button{
    font-family: 'Zain';
    font-weight: bold;
}

form input, form textarea{
    font-family: 'Zain';
}

form textarea{
    resize: none;
}