.lightgray-text{
    color: lightgray;
}

.title{
    color: inherit;
    text-transform: uppercase;
    font-family: 'Kanit';
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 8vh;
}

.subtitle{
    color: inherit;
    text-transform: uppercase;
    font-family: 'Kanit';
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 5vh;
}

.small-title{
    color: inherit;
    text-transform: uppercase;
    font-family: 'Kanit';
    font-size: 1.2rem;
    font-weight: bolder;
    margin-top: 2vh;
}

.underline-dashed{
    border-bottom: dashed grey 2px;
}

.decorated-left-text{
    border-left: solid var(--brandColor) 10px;
    padding-left: 10px;
    min-height: 2rem;
}