.theme-header-base{
    --bg: var(--transparent-color);
    --text-color: white;
    --text-font: 'Zain';
    --title-color: white;
    --title-font: 'Zain';
    --border-color: var(--brand-color);
    --highlight: var(--brand-color);
}

.theme-header-a{
    --bg: black;
    --text-color: var(--light-grey);
    --text-font: 'Zain';
    --title-color: var(--light-grey);
    --title-font: 'Zain';
    --border-color: var(--light-grey);
    --highlight: var(--light-grey);
}