.theme-header-base{
    --bg: var(--transparent-color);
    --text-color: white;
    --text-font: 'Zain';
    --title-color: white;
    --title-font: 'Zain';
    --border-color: var(--brand-color);
    --highlight: var(--brand-color);
    --span-color: var(--brand-color);
}

.theme-header-a{
    --bg: black;
    --text-color: var(--light-grey);
    --text-font: 'Zain';
    --title-color: var(--light-grey);
    --title-font: 'Zain';
    --border-color: var(--light-grey);
    --highlight: var(--light-grey);
    --span-color: var(--brand-color);
}

.theme-hero-panel{
    --bg: rgba(0, 0, 0, 0.75);
    --text-color: var(--light-grey);
    --text-font: 'Zain';
    --title-color: var(--light-grey);
    --title-font: 'Zain';
    --border-color: var(--light-grey);
    --highlight: var(--light-grey);
    --span-color: var(--brand-color);
}

.theme-hero-content{
    --bg: black;
    --text-color: white;
    --text-font: 'Zain';
    --title-color: white;
    --title-font: 'Zain';
    --border-color: var(--brand-color);
    --highlight: var(--brand-color);
    --span-color: var(--brand-color);
}

.theme-black-over-white{
    --bg: white;
    --text-color: var(--dark-grey);
    --text-font: 'Zain';
    --title-color: black;
    --title-font: 'Zain';
    --border-color: var(--brand-color);
    --highlight: var(--brand-color);
    --span-color: black;
}